name:
on:
  push:
    branches: [ "main" ]
env:
  app_version: v2.2.0
permissions:
  checks: write
  contents: write
  packages: write
  pull-requests: read
jobs:
  build-publish:
    name: Build and Publish
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
            registry.etke.cc/${{ github.repository }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref_name == 'main' }}
            type=raw,value=${{ env.app_version }},enable=${{ github.ref_name == 'main' }}
      - name: Checkout FluffyChat
        run: |
          wget https://github.com/krille-chan/fluffychat/releases/download/${{ env.app_version }}/fluffychat-web.tar.gz
          tar -xf fluffychat-web.tar.gz
          mv build/web fluffychat-web
          sed -i 's/<base href="\/web\/">/<base href="\/">/g' fluffychat-web/index.html
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
